.Weather {
    font-family: arial, sans-serif;
    border: 8px solid #ebf5a6;
    padding: 16px;
    border-radius: 12px;
    color: green;
    background: radial-gradient(
      circle at 74.2% 50.9%,
      rgb(178, 246, 148) 5.2%,
      rgb(196, 156, 181) 75.3%
    );;
  }
  
  .Weather h1 {
    font-size: 24px;
    font-weight: 100;
    margin: 20px 0 0 0;
    line-height: 29px;
  }
  
  .Weather ul {
    margin: 0;
    padding: 0;
  }
  
  .Weather li {
    font-size: 16px;
    font-weight: 100;
    line-height: 19px;
    list-style: none;
  }
  
  .Weather .temperature {
    font-weight: bold;
    color: green;
    font-size: 64px;
    line-height: 64px;
    margin-left: 5px;
    font-weight: 400;
    margin-left: 10px;
  }
  
  .Weather canvas {
    margin: 10px auto;
  }
  
  .Weather .unit {
    color: green;
    font-size: 16px;
    font-weight: 400;
    position: relative;
    line-height: 1;
    top: -34px;
  }